[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "weightederm"]
	path = weightederm
	url = https://github.com/gabrielarpino/weightederm-r
